body{
    font-family: Open Sans, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    margin: 0;
    padding: 0;
}


.nave{
    display: flex;
    justify-content: center;
    gap: 30px;
    background-color: white;
    height: 20px;
}
.nave h3{
 margin-left: -10px;
}


.nave, a,span{
    text-decoration: none;
    margin: 15px 0px;
    color: black;
    font-weight: 500;

}
.nave img {
width: 200px;
}

.nave .right{
    background-color: rgb(1,88,247);
    width: 170px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    border-radius: 10px;
}
.nave .left{
    margin-right: 170px;
}
.nave .right{
    margin-left: 170px;
}

.main{
    background-color: rgb(237,235,249);
    width: 100%;
    margin: auto;
}

.container{
    background-color: rgb(237,235,249);
    max-width: 1250px;
    width: 100%;
    margin: auto;
    text-align: center;
}
.container h1{
    padding-top: 50px;
    font-size: 80px;
    line-height: 90px;
}
.container p{
    margin-top: -20px;
    font-weight: 500;
    font-size: 20px;
    color: rgb(59, 59, 59);
}
.container .email input{
    border: 1px solid rgb(119, 119, 119);
    border-radius: 10px;
    width: 200px;
    height: 50px;
    background-color: rgb(228, 228, 228);
}
.email{
    margin-top: 70px;
}
.container .email a{
    background-color: rgb(107,60,239);
    padding: 15px 25px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}
.video iframe{
    margin-top: 25px;
    width: 1250px;
    height: 600px;
    border: none;
}
.container .down_h1{
    font-size: 42px;
    word-spacing: -3px;
}

.marquee-section {
    padding: 20px 0;
    overflow: hidden;
}

.marquee {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
}

.marquee-content {
    display: flex;
    animation: marquee 35s linear infinite;
}

.company-logo {
    width: 80px; /* Adjust the size as needed */
    height: auto;
    margin: 0 20px;
}

@keyframes marquee {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}




.middle_area{
width: Hug (740px)px;
height:70vh;
gap: 0px;
opacity: 0px;

display: flex;
}
.middle_para h1{
    width: Fixed (358.39px)px;
height: Hug (40px)px;
padding: 0px 27.39px 0px 0px;


color: blue;
margin-left: 40px;



}
.middle_para img{
width: Fixed (51px)px;
height: Hug (38px)px;
max-width: 422.39px;
margin-left: 35px;
line-height: -50px;

}
.middle_para span{
  
    font-weight: 700;
    font-size: 36px;
    line-height: 20px;

}
.middle_para p{
    font-weight: 400px;
    color: rgba(52, 57, 75, 1);
    line-height: 20px;
    margin-left: 30px;
    
}

.middle_para_dis{
font-family: Roboto;
font-size: 18px;
font-weight: 500;
line-height: 28px;
text-align: left;
color: rgb(1, 1, 254);


}
.middle_img img{
    position: relative;
    top: -100px;
}

.middle2_area{
width: Fill (1,408px)px;
height: 70vh;
padding: 0px 89.72px 0px 0px;
display: flex;

justify-content: center;
gap: 100px;

}
.middle2_area div{
    position: relative;
    top: 80px;
}

.middle3_area{
    width: Fill (1,408px)px;
height: 70vh;
gap: 100px;
justify-content: center;

opacity: 0px;
display: flex;

}
.middle4_area{
    width: Fill (1,408px)px;
height:90vh;
padding: 0px 89.72px 0px 0px;
gap: 40px;
opacity: 0px;
display: flex;
justify-content: center;
position: relative;
top: 100px;

}

.footer_area{
 
    height: 80vh;
    width: 100%;
    background: rgba(12, 17, 29, 1);

}
.footer_img img{
    position: relative;
    top: -100px;
    left: 200px;
    height:250px;
    width: 1200px;
}


